.business {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.business__item {
	padding: 20px;
	border-radius: 16px;
	background: var(--gray-silver);
	display: flex;
	gap: 10px;
	flex-direction: column;
	width: calc(1/3*100% - (1 - 1/3)*15px);
}

.business__item>div:last-child {
	margin-top: auto;
}

.business__item-title {
	margin-bottom: 16px;
}

.business__item-title.big {
	font-weight: 300;
	font-size: 28px;
	line-height: 32px;
	letter-spacing: -0.02em;
}

.business__item-icon {
	padding: 6px 10px;
	display: flex;
	gap: 8px;
	border-radius: 16px;
	width: fit-content;
}

.business__item-icon.bg-red,
.business__item-icon.bg-violet-simple {
	color: var(--color-white);
}

.business__item-content img {
	display: inline-block;
	margin-right: 5px;
}

.business__item-content p:not(:last-child) {
	margin-bottom: 10px;
}

@media(max-width: 767px) {
	.business__item {
		width: calc(1/2*100% - (1 - 1/2)*15px);
	}

	.business__item:last-child {
		width: 100%;
	}
}

@media(max-width: 576px) {
	.business__item {
		width: 100%;
	}
}