.main__extra-title {
	margin-top: 20px;
	text-align: center;
	font-weight: 300;
	font-size: 28px;
	line-height: 32px;
	text-align: center;
	letter-spacing: -0.02em;
	max-width: 680px;
	margin: 20px auto 0;
}

.stage__item {
	display: flex;
	gap: 20px;
	width: calc(1/4*100% - (1 - 1/4)*15px);
	font-size: 18px;
	line-height: 24px;
}

.use__item {
	display: flex;
	width: calc(1/3*100% - (1 - 1/3)*15px);
	min-height: 600px;
}

.use__item-title {
	margin-bottom: 12px;
	font-size: 28px;
	line-height: 32px;
}

.use__item-img {
	margin: auto auto -20px;
}

.use__item-img img {
	max-width: 100%;
	height: auto;
}

.support-and-learn__item {
	width: calc(1/2*100% - (1 - 1/2)*15px);
	background: var( --gray-silver);
	border-radius: var(--border-radius-m);
	padding: 40px 30px;
	display: flex;
	gap: 14px;
	align-items: center;
	font-size: 18px;
    line-height: 22px;
	flex-direction: row;
}

.support-and-learn__item .title {
	font-weight: 500;
	margin-bottom: 15px;
}

.support-and-learn__item.full {
	padding: 20px;
}

.support-and-learn__item.reviews {
	flex-direction: row;
}

@media(max-width: 991px) {
	.home-cards.develop .home-cards__item,
	.home-cards.develop .home-cards__item:nth-child(5),
	.home-cards.develop .home-cards__item.extralong {
		width: calc(1/3*100% - (1 - 1/3)*15px);
	}
	
	.stage__item {
		width: calc(1/2*100% - (1 - 1/2)*15px);
	}
}

@media(max-width: 767px) {
	.home-cards.develop .home-cards__item,
	.home-cards.develop .home-cards__item:nth-child(5),
	.home-cards.develop .home-cards__item.extralong {
		width: calc(1/2*100% - (1 - 1/2)*15px);
	}
	
	.recommend.develop .advantages-block {
		width: calc(1/2*100% - (1 - 1/2)*15px);
	}
	
	.recommend.develop .advantages-block:last-child {
		width: 100%;
	}
	
	.use__item {
		width: 100%;
		min-height: auto;
	}
	
	.use__item-img {
		display: none;
	}
}
@media(max-width: 576px) {
	.home-cards.develop .home-cards__item,
	.home-cards.develop .home-cards__item:nth-child(5),
	.home-cards.develop .home-cards__item.extralong {
		width: 100%;
	}
	
	.stage__item {
		width: 100%;
	}
	
	.use__item {
		width: 100%;
	}
	
	.support-and-learn__item {
		width: 100%;
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}
	
	.main__extra-title {
		font-size: 18px;
		line-height: 24px;
	}
	
	.recommend.develop .advantages-block {
		width: 100%;
	}
	
	.use__item-img {
		display: block;
	}
}