.experience {
	
}

.experience__list {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
}

.experience__item {
	background: var(--gray-silver);
	padding: 20px;
	border-radius: var(--border-radius-m);
	display: flex;
	gap: 8px;
	width: calc(1/4*100% - (1 - 1/4)*15px);
	flex-direction: column;
	min-height: 400px;
}

.experience__item.bg-violet-simple {
	color: var(--color-white);
}

.experience__item>div:last-child {
	margin-top: auto;
}

.experience__item-title {
	font-weight: 200;
	font-size: 32px;
	line-height: 36px;
	display: flex;
	justify-content: space-between;
}

.experience__item-title .title {
	max-width: 650px;
}

.experience__item-title .icons {
	display: flex;
}

.experience__item-subtitle {
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
}

.experience__item.long {
	width: calc(1/2*100% - (1 - 1/2)*15px);
}

.experience__item.extralong {
	width: calc(3/4*100% - (1 - 3/4)*15px);
}

.experience__item-description {
	font-size: 18px;
	line-height: 22px;
}

.experience__item-description .number {
	font-weight: 100;
	font-size: 80px;
	line-height: 60px;
	letter-spacing: -0.1em;
	margin-bottom: 8px;
}

.experience__item-description.flex {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 120px;
}

.experience__item-description .date {
	font-size: 18px;
	line-height: 24px;
	letter-spacing: -0.02em;
}

.experience__bottom .tags ul {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.experience__bottom .tags {
	margin-bottom: 12px;
	width: 100%;
}

.experience__bottom .tags ul li {
	padding: 6px 10px;
	background: var(--color-white);
	font-size: 18px;
	line-height: 22px;
	border-radius: 16px;
	max-width: fit-content;
}

.experience__item-description .time {
	display: flex;
	gap: 3.5px;
	align-items: center;
	white-space: nowrap;
}

@media(max-width: 1199px) {
	.experience__item,
	.experience__item.long {
		width: calc(1/3*100% - (1 - 1/3)*15px);
	}
	
	.experience__item-title {
		flex-direction: column;
		font-size: 24px;
		line-height: 28px;
		gap: 10px;
	}
	
	.experience__item-title .icons img {
		max-width: 63px;
	}
	
	.experience__item-description.flex {
		flex-direction: column;
	}
	
	.experience__item-description.flex {
		gap: 8px;
	}
	
	.experience__item.extralong {
		width: calc(2/3*100% - (1 - 2/3)*15px);
	}
}

@media(max-width: 991px) {
	.experience__item,
	.experience__item.extralong  {
		width: calc(1/2*100% - (1 - 1/2)*15px);
	}
	
	.experience__item-subtitle {
		font-size: 16px;
		line-height: 20px;
	}
	.experience__item-description {
		font-size: 16px;
		line-height: 20px;
	}
}

@media(max-width: 576px) {
	.experience__item,
	.experience__item.extralong,
	.experience__item.long  {
		width: 100%;
		min-height: 260px;
	}
	
	.experience__item-description .link {
		font-size: 24px;
		line-height: 28px;
	}
}