*,
:before,
:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:where(ul, ol):where([class]) {
	padding-left: 0
}

body,
:where(blockquote, figure):where([class]) {
	margin: 0
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
	margin-block: 0
}

:where(dd[class]) {
	margin-left: 0
}

:where(fieldset[class]) {
	margin-left: 0;
	padding: 0;
	border: none
}

:where(ul[class]) {
	list-style: none
}

:where(address[class]) {
	font-style: normal
}

img,
video {
	display: block;
	max-width: 100%;
	height: auto
}

input,
textarea,
select,
button {
	font: inherit
}

ul li,
ol li {
	list-style: none;
}

html {
	height: 100%;
	scrollbar-gutter: stable
}

html,
:has(:target) {
	scroll-behavior: smooth
}

body {
	min-height: 100%;
	letter-spacing: -0.01em;
}

a:where([class]) {
	display: inline-flex
}

button,
label {
	cursor: pointer
}

svg * {
	transition-property: fill, stroke
}

:where(table) {
	border-collapse: collapse;
	border-color: currentColor
}

@media (prefers-reduced-motion: reduce) {

	*,
	:before,
	:after {
		animation-duration: .01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: .01ms !important;
		scroll-behavior: auto !important
	}
}

@font-face {
	font-family: Geologica Roman;
	src: url('../fonts/GeologicaRoman-ExtraLight.woff2') format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Geologica Roman;
	src: url('../fonts/GeologicaRoman-Thin.woff2') format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Geologica Roman;
	src: url('../fonts/Geologica-Medium.woff2') format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: IBM Plex Sans;
	src: url('../fonts/IBMPlexSans-Light.woff2') format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: IBM Plex Sans;
	src: url('../fonts/IBMPlexSans-Medium.woff2') format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

:root {
	--color-white: #FFFFFF;
    --color-black: #000000;

    --gray-silver: #F3F7FA;
    --gray-hover: #DAE2E8;
    --grey-dark: #B2B5BE;

    --accent-red: #ED1A3B;
    --accent-red-dark: #C1001E;

    --second-violet: #743FDD;
    --second-blue: #B2E8EC;

    --gradient-color-1: #ED1A3B;
    --gradient-color-2: #FF526D;

    --gradient-color-3: #DE0085;
    --gradient-color-4: #F43150;

    --border: var(--border-width-s) solid var(--color-black);

    --border-width-l: 4px;
    --border-width-m: 3px;
    --border-width-s: 1px;

    --border-radius-l: 30px;
    --border-radius-m: 20px;
    --border-radius-s: 12px;

    --font-family-base: 'Geologica Roman', sans-serif;
    --font-family-extra: 'IBM Plex Sans', sans-serif;
    
    --container-width: 1377px;
	--container-padding-x: 15px;
	--section-padding-y: clamp(1.5625rem, .8319215876rem + 3.3881897386vw, 3.75rem);
	--section-padding-y-invert: clamp(-1.5625rem, -.8319215876rem + -3.3881897386vw, -3.75rem);
	--transition-duration: .2s;
	--transition-duration-longer: .4s
}

/* modal mobile-menu */

.overlay {
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1001;
	display: none;
}

.overlay.active,
.overlay.modal-active {
	display: block;
}

body.fixed,
body.modal-fixed {
	overflow: hidden;
}

.mobile-menu {
	background: #fff;
	padding: 20px 15px;
	position: fixed;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10002;
	overflow-x: hidden;
	overflow-y: auto;
	flex-direction: column;
	gap: 15px;
	-webkit-transition: bottom 0.4s;
    -o-transition: bottom 0.4s;
    transition: bottom 0.4s;
	bottom: -1000px;
	display: flex;
	max-height: 600px;
}

.mobile-menu.active {
	bottom: 0;
}

.mobile-menu__inner {
	position: relative;
}

.mobile-menu__menu {
	max-height: 350px;
	overflow-y: auto;
}

/* width */
.mobile-menu_menu::-webkit-scrollbar {
	width: 4px;
	border-radius: 2px;
}

/* Track */
.mobile-menu_menu::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
.mobile-menu_menu::-webkit-scrollbar-thumb {
	background: #EE7326;
	border-radius: 2px;
}

/* Handle on hover */
.mobile-menu_menu::-webkit-scrollbar-thumb:hover {
	background: #ED5A4F;
}

.mobile-menu__inner ul {
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.mobile-menu__inner li {
	font-size: 24px;
	line-height: 28px;
	background: var(--gray-silver);
	border-radius: var(--border-radius-l);
}

.mobile-menu__inner li a {
	display: block;
	color: var(--color-black);
	padding: 16px;
	text-align: center;
}

.mobile-menu .socials {
    justify-content: center;
}

/* /modal /mobile-menu */

.container {
	width: 100%;
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x)
}

.visually-hidden {
	position: absolute !important;
	width: .0625rem !important;
	height: .0625rem !important;
	margin: -.0625rem !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important
}

@media (width > 64rem) {
	.visible-tablet {
		display: none !important
	}
}

@media (width <=64rem) {
	.hidden-tablet {
		display: none !important
	}
}

@media (width > 48rem) {
	.visible-mobile {
		display: none !important
	}
}

@media (width <=48rem) {
	.hidden-mobile {
		display: none !important
	}
}

.full-width {
	width: 100%;
}

.section__title {
	font-size: 54px;
	margin-bottom: 50px;
	line-height: 60px;
}

.section__title.center,
.section__extra-title.center {
	text-align: center;
}

.section__extra-title {
	font-size: 28px;
	line-height: 24px;
}

.section__extra {
	gap: 15px;
	display: flex;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: -0.02em;
	margin-bottom: 26px;
	margin-top: -20px;
}

.section__extra>* {
	width: calc(1/3*100% - (1 - 1/3)*15px);
}

@media(max-width: 1024px) {
	.section__title {
		font-size: 50px;
		margin-bottom: 50px;
		line-height: 56px;
	}
}

@media(max-width: 767px) {
	.section__title {
		font-size: 32px;
		margin-bottom: 30px;
		line-height: 36px;
	}
	
	.section__extra {
		margin-top: 0;
	}
	
	.section__extra>* {
		width: calc(1/2*100% - (1 - 1/2)*15px);
	}
}

@media(max-width: 576px) {
	.section__extra {
		flex-direction: column;
		font-size: 16px;
		line-height: 20px;
	}
	
	.section__extra>* {
		width: 100%;
	}
}

html.is-lock {
	overflow: hidden
}

body {
	font-size: clamp(1rem, .9582526621rem + .1936108422vw, 1.125rem);
	display: flex;
	flex-direction: column;
	font-family: var(--font-family-base);
	color: var(--color-black);
	background-color: var(--color-white);
	font-weight: 300;
	position: relative;
}

.main {
	flex-grow: 1
}

h1,
.h1,
h2,
.h2 {
	color: var(--color-black);
	margin: 0
}

h1,
.h1 {
	font-size: 54px;
	line-height: 60px;
	text-align: center;
	font-weight: 200;
	padding: 60px 0 0px;
}

@media(max-width: 576px) {
	h1,
	.h1 {
		padding: 20px 0 0px;
		font-size: 32px;
        line-height: 36px;
	}
}

h2,
.h2 {
	font-size: clamp(1.5rem, 1.4165053243rem + .3872216844vw, 1.75rem);
	font-weight: 300
}

a,
button,
label,
input,
textarea,
select,
svg * {
	transition-duration: var(--transition-duration)
}

a {
	color: inherit;
	text-decoration: none
}

@media (any-hover: hover) {
	a:hover {
		color: var(--accent-red);
	}
}

@media (any-hover: none) {
	a:active {
		color: var(--accent-red);
		text-decoration: none
	}
}

:focus-visible {
	outline: .125rem solid dashed var(--black);
	outline-offset: .25rem;
	transition-duration: 0s !important
}

:has(.swiper) {
	min-width: 0
}

input[type="text"],
textarea {
	height: 72px;
	background: var(--color-white);
	font-size: 28px;
	line-height: 32px;
	color: var(--color-black);
	padding: 0 20px;
	border-radius: var(--border-radius-m);
	border: 2px solid var(--color-white);
	width: 100%;
}

@media(max-width: 576px) {
	input[type="text"],
	textarea {
		font-size: 24px;
		line-height: 28px;
		height: 68px;
	}
}

textarea {
	height: 120px;
	resize: none;
	padding: 20px;
}

input[type="text"]:active,
textarea:active,
input[type="text"]:focus,
textarea:focus {
	background: var(--gray-hover);
	border: 2px solid var(--gray-hover);
}

input[type="text"].error,
textarea.error,
input[type="text"].error,
textarea.error {
	border: 2px solid var(--accent-red);
}

::placeholder {
	color: var(--grey-dark);
	font-family: Geologica Roman;
	font-weight: 300;
}

.btn {
	background: var(--accent-red);
	color: var(--color-white);
	text-align: center;
	border-radius: var(--border-radius-l);
	padding: 12px 16px;
    font-size: 18px;
    line-height: 22px;
	border: 0;
	cursor: pointer;
}

.btn:hover {
	background: var(--accent-red-dark);
	color: var(--color-white);
}

.btn.disabled {
	color: var(--grey-dark);
}

.header {
	position: sticky;
	z-index: 100;
	top: 0;
	width: 100%;
	padding: 20px var(--container-padding-x);
	animation-name: scrolling-header;
	animation-fill-mode: both;
	animation-timeline: scroll();
	animation-range: 0 6.25rem;
	background: var(--color-white);
}

@keyframes scrolling-header {
	to {
		padding-block: .625rem;
		background-color: var(--color-white);
	}
}

.header__inner {
	display: flex;
	align-items: center;
	column-gap: 15px;
	justify-content: space-between;
}

.header__nav {
	display: flex;
	gap: 16px;
}

.header__nav .header__nav-logo {
	width: 47px;
	height: 46px;
	display: block;
}

.header__nav nav ul	{
	display: flex;
	padding: 12px 20px;
	background: var(--gray-silver);
	border-radius: var(--border-radius-l);
	gap: 30px;
	justify-content: space-between;
}

.header__nav nav ul li	{
	font-size: 18px;
	line-height: 22px;
}

.socials {
	display: flex;
	gap: 12px;
	align-items: center;
}

.socials__icon {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--gray-silver);
}

.socials__icon:hover {
	background: var(--gray-hover);
}

.section {
	padding-block: var(--section-padding-y)
}

.section__header {
	padding-bottom: fluid-to-taptop(50, 30);
	display: flex;
	gap: 1.875rem
}

.section__description.column {
	display: flex;
	gap: .9375rem
}

.header_burger {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background: var(--gray-silver);
	cursor: pointer;
	position: relative;
	display: none;
	align-items: center;
	justify-content: center;
}

.header_burger label {
	cursor: pointer;
	display: block;
	position: relative;
	height: 14px;
    width: 20px;
}

.burger-checkbox {
	position: absolute;
	visibility: hidden;
}

.burger::before,
.burger::after {
	content: '';
	left: 0;
	position: absolute;
	display: block;
	width: 20px;
    height: 2px;
	border-radius: 10px;
	background: #000;
}

.burger::before {
	top: 0;
	box-shadow: 0 6px 0 #000;
	transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
	bottom: 0;
	transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked+.burger::before {
	top: 6px;
	transform: rotate(45deg);
	box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
	transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked+.burger::after {
	bottom: 6px;
	transform: rotate(-45deg);
	transition: bottom .3s, transform .3s .15s;
}

@media(min-width: 768px) and (max-width: 991px) {
	.socials {
		display: none;
	}
}

@media(min-width: 992px) and (max-width: 1024px) {
	.header__nav nav ul {
		gap: 12px;
	}
}

@media(max-width: 1024px) {
	.header__nav nav ul li {
		font-size: 16px;
		line-height: 20px;
	}
}

@media(max-width: 767px) {
	.header_burger {
		display: flex;
	}
	
	.header__nav nav,
	header .socials__icon {
		display: none;
	}
}

/* breadcrumbs */

.breadcrumbs.section {
	padding-top: 0;
    padding-bottom: 0;
}

.breadcrumbs {
	font-size: 18px;
	line-height: 22px;
	display: flex;
	gap: 15px;
}

.breadcrumbs .breadcrumbs__item {
	display: flex;
}

.breadcrumbs .breadcrumbs__item:not(:first-child) a:before,
.breadcrumbs .breadcrumbs__item.active:before {
	content: '←';
	margin-right: 4px;
}

.breadcrumbs .breadcrumbs__item.active {
	color: var(--accent-red);
}

@media(max-width: 576px) {
	.breadcrumbs {
		font-size: 16px;
		line-height: 20px;
	}
}

/* advantages */

.advantages-block {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
	width: calc(25% - .625rem);
	border-radius: var(--border-radius-m);
	background-color: var(--gray-silver);
	padding: 1.25rem;
	position: relative;
	-webkit-transition: all .3s;
    transition: all .3s;
}

.advantages-block:before {
	-webkit-transition: all .3s;
    transition: all .3s;
	background: transparent;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	display: block;
	border-radius: var(--border-radius-m);
}

.advantages-block:hover:before {
	background: rgba(0, 0, 0, .05);
}

.advantages-block>div:last-child {
	margin-top: auto;
}

.advantages-block:not(:last-child) {
	min-height: 25rem
}

.advantages-block.long {
	width: calc(50% - .625rem)
}

@media (width <=64rem) {
	.advantages-block.long {
		width: calc(33.333% - .625rem)
	}
}

.advantages-block.full {
	width: 100%;
	gap: 1.25rem
}

.advantages-block.full .slider {
	margin-inline: -1.25rem
}

.bg-gradient {
	background: linear-gradient(180deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%);
	color: var(--color-white);
	position: relative;
	overflow: hidden
}

.bg-blue {
	background-color: var(--second-blue);
}

.bg-gray {
	background-color: var(--gray-hover);
}

.bg-violet {
	background-image: url('../images/bg_tariffs.png');
	background-size: cover;
	background-position: center center;
}

.bg-violet-simple {
	background: var(--second-violet);
}

.advantages-block.bg-violet>div {
	color: var(--color-white);
}

.bg-gradient:before {
	content: url('data:image/svg+xml,<svg width="401" height="400" viewBox="0 0 401 400" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_f_602_1586)"><ellipse cx="95.3897" cy="116.275" rx="236.526" ry="167.915" transform="rotate(-45 95.3897 116.275)" fill="url(%23paint0_linear_602_1586)"/></g><defs><filter id="filter0_f_602_1586" x="-209.737" y="-188.852" width="610.253" height="610.253" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_602_1586"/></filter><linearGradient id="paint0_linear_602_1586" x1="95.3897" y1="-51.6407" x2="95.3897" y2="284.19" gradientUnits="userSpaceOnUse"><stop stop-color="%23DE0085"/><stop offset="1" stop-color="%23F43150"/></linearGradient></defs></svg>');
	top: 0;
	left: 0;
	position: absolute;
	z-index: 0
}

.bg-gradient:after {
	content: url('data:image/svg+xml,<svg width="458" height="252" viewBox="0 0 458 252" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_f_602_118)"><ellipse cx="228.873" cy="228.645" rx="173.128" ry="183.255" transform="rotate(135 228.873 228.645)" fill="url(%23paint0_linear_602_118)"/></g><defs><filter id="filter0_f_602_118" x="0.608887" y="0.380981" width="456.528" height="456.529" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="25" result="effect1_foregroundBlur_602_118"/></filter><linearGradient id="paint0_linear_602_118" x1="228.873" y1="45.3899" x2="228.873" y2="411.901" gradientUnits="userSpaceOnUse"><stop stop-color="%23F22FB0"/><stop offset="1" stop-color="%23F58A25" stop-opacity="0"/><stop offset="1" stop-color="%237061A3"/></linearGradient></defs></svg>');
	bottom: -.625rem;
	left: 0;
	position: absolute;
	z-index: 0
}

.bg-gradient>div,
.bg-gradient-half>div,
.bg-gradient-top>div {
	z-index: 2;
	position: relative;
}

.advantages-block.bg-gradient-half {
	position: relative;
	overflow: hidden;
	z-index: 0
}

.advantages-block.bg-gradient-half:after {
	position: absolute;
	top: 0;
	right: 0;
	content: url('data:image/svg+xml,<svg width="238" height="400" viewBox="0 0 238 400" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_f_476_3789)"><ellipse cx="270.891" cy="157.587" rx="196.5" ry="139.5" transform="rotate(-45 270.891 157.587)" fill="url(%23paint0_linear_476_3789)"/></g><defs><filter id="filter0_f_476_3789" x="0.476562" y="-112.826" width="540.828" height="540.828" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_476_3789"/></filter><linearGradient id="paint0_linear_476_3789" x1="270.891" y1="18.0874" x2="270.891" y2="297.087" gradientUnits="userSpaceOnUse"><stop stop-color="%23DE0085"/><stop offset="1" stop-color="%23F43150"/></linearGradient></defs></svg>')
}

.advantages-block.bg-gradient-top {
	position: relative;
	overflow: hidden;
	z-index: 0
}

.advantages-block.bg-gradient-top:after {
	position: absolute;
	top: 0;
	right: 0;
	content: url('data:image/svg+xml,<svg width="216" height="187" viewBox="0 0 216 187" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_f_671_439)"><ellipse cx="270.749" cy="-83.4252" rx="196.5" ry="139.5" transform="rotate(-45 270.749 -83.4252)" fill="url(%23paint0_linear_671_439)"/></g><defs><filter id="filter0_f_671_439" x="0.334473" y="-353.839" width="540.828" height="540.828" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_671_439"/></filter><linearGradient id="paint0_linear_671_439" x1="270.749" y1="-222.925" x2="270.749" y2="56.0748" gradientUnits="userSpaceOnUse"><stop stop-color="%23DE0085"/><stop offset="1" stop-color="%23F43150"/></linearGradient></defs></svg>');
}

.advantages-block__description {
	font-size: 28px;
	line-height: 32px;
	display: flex;
    flex-direction: column;
    gap: 16px;
}

.advantages-block__description-column {
	display: flex;
	gap: 1.875rem;
	justify-content: space-between;
	align-items: flex-end
}

@media (max-width: 1024px) {
	.advantages-block__description-column {
		flex-direction: column;
		gap: 1.25rem
	}
	
	.advantages-block__description {
		font-size: 24px;
		line-height: 28px;
	}
}

.advantages-block__team {
	display: flex;
	width: 100%;
	justify-content: flex-end
}

@media (width <=64rem) {
	.advantages-block__team {
		justify-content: flex-start
	}
}

@media (width <=64rem) {
	.advantages-block__team-item {
		width: 3.75rem;
		height: 3.75rem
	}
}

.advantages-block__team-item:not(:last-child) {
	margin-right: -1.25rem
}

.advantages-block__title {
	font-size: 28px;
	line-height: 32px;
	z-index: 2
}

.advantages-block__title.big {
	font-size: 110px;
	line-height: 80px;
}

.advantages-block__title.big a:hover {
	text-decoration: underline;
	text-decoration-style: solid;
	text-underline-offset: 3px;
	text-decoration-thickness: 2px;
	text-decoration-skip-ink: auto;
}

.advantages-block__title.medium {
	font-size: 50px;
	line-height: 56px;
}

.advantages-block__extra-title {
	font-size: 18px;
	line-height: 22px;
}

@media(max-width: 1024px) {
	.advantages-block__title {
		font-size: 24px;
		line-height: 28px;
	}
	
	.advantages-block__title.big {
		font-size: 100px;
		line-height: 70px;
	}
	
	.advantages-block__extra-title {
		font-size: 16px;
		line-height: 20px;
	}
	
	.advantages-block__title.medium {
		font-size: 32px;
		line-height: 36px;
	}
}

@media(max-width: 576px) {
	.advantages-block__title.big {
		font-size: 100px;
		line-height: 100px;
	}
	
	.advantages-block__extra-title br {
		display: none;
	}
}

@media (width <=64rem) {
	.advantages-block {
		width: calc(33.333% - .625rem)
	}
}

@media (width <=48rem) {

	.advantages-block:not(:nth-child(1)),
	.advantages-block:not(:nth-child(2)) {
		min-height: 12.5rem
	}

	.advantages-block {
		width: calc(33.333% - .625rem)
	}
}

@media (width <=48rem) {

	.advantages-block,
	.advantages-block.long,
	.advantages-block.full {
		width: calc(50% - .625rem)
	}
}

@media (max-width: 576px) {
	.advantages-block:not(:nth-child(4)) {
		min-height: 12.5rem
	}

	.advantages-block,
	.advantages-block.long,
	.advantages-block.full {
		width: 100%
	}
}

.advantages .section__body {
	display: flex;
	gap: .9375rem;
	flex-wrap: wrap
}

.clients__item {
	width: 12.5rem;
	height: 8.125rem;
	display: flex;
	justify-content: center;
	align-items: center
}

.slider__item {
	max-width: fit-content
}

.reviews {
	background: var(--gray-silver);
	border-radius: var(--border-radius-m);
	padding: 1.25rem
}

.reviews .section__body {
	margin-inline: -.9375rem
}

.reviews .section__title {
	margin-bottom: 1.25rem
}

.reviews-block {
	width: 14.375rem;
	padding: 0 .9375rem;
	margin-bottom: 1rem
}

.reviews-block__image {
	padding: 2rem 1.6875rem;
	background: var(--color-white);
	margin-bottom: .9375rem;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.reviews-block__image .btn {
	position: absolute;
	bottom: -3.4375rem
}

.reviews-block__image:hover .btn {
	bottom: 2rem
}

.reviews-block__title {
	margin-bottom: .75rem;
	font-size: clamp(1rem, .9582526621rem + .1936108422vw, 1.125rem)
}

.reviews-block__company {
	font-weight: 500
}

.reviews__title {
	font-size: 28px;
	line-height: 32px;
	margin-bottom: 20px;
}

@media(max-width: 1024px) {
	.reviews-block__image .btn {
		bottom: 2rem;
	}
}

/* usability */

.usability {
    margin-left: 0;
    margin-right: calc(700px - 50vw);
	display: flex;
	gap: 15px;
	margin-bottom: 15px;
}

.usability__list {

}

.usability__block {
	width: 450px;
	border-radius: 20px;
	font-weight: 300;
	padding: 20px;
	height: 450px;
	display: flex;
	flex-direction: column;
	background-size: cover;
	background-position: center center;
	background-color: var(--second-blue);
}

.usability__block:before {
	-webkit-transition: all .3s;
    transition: all .3s;
	background: transparent;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	display: block;
	border-radius: var(--border-radius-m);
}

.usability__block:hover:before {
	background: rgba(0, 0, 0, .05);
}

.advantages-block>div:last-child {
	margin-top: auto;
}

.usability__block.small {
	width: 333px;
}

.usability__block.white-text {
	color: var(--color-white);
}

.usability__block-title {
	font-size: 28px;
	line-height: 32px;
	font-weight: 300;
}

.usability__block-description {
	font-size: 18px;
	line-height: 22px;
}

.usability__block-text {
	margin-top: auto;
}

.advantages-block ul,
.usability__block-text ul {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.advantages-block ul li,
.usability__block-text ul li {
	padding: 6px 10px;
	border-radius: 16px;
	background-color: var(--color-white);
	font-size: 18px;
	line-height: 22px;
	width: fit-content;
	color: var(--color-black);
}

.advantages-block .number,
.usability__block-text .number {
	font-weight: 100;
	font-size: 110px;
	line-height: 80px;
	letter-spacing: -0.1em;
}

.advantages-block .text,
.usability__block-text .text {
	font-size: 18px;
	line-height: 22px;
}

@media(max-width: 1440px) {
	.usability {
		margin-right: 0;
	}
	
	.usability .advantages-block {
		width: 333px;
	}
}

@media(max-width: 576px) {
	.usability {
		flex-direction: column;
		margin-right: 0;
	}
	
	.usability__block,
	.usability__block.small {
		width: 100%;
		height: 400px;
	}
	
	.usability__list {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	
	.advantages-block .number,
	.usability__block-text .number {
		font-weight: 100;
		font-size: 100px;
		line-height: 100px;
	}
	
	.advantages-block ul li,
	.usability__block-text ul li {
		font-size: 16px;
		line-height: 20px;
	}
	
	.usability .advantages-block {
        width: 100%;
    }
	
	.usability .usability__block-title {
		font-size: 24px;
		line-height: 28px;
	}
	
	.usability .usability__block-description {
		font-size: 16px;
		line-height: 20px;
	}
	
	.usability__block {
		gap: 8px;
	}
}

/* recommend */

.recommend .advantages-block__description {
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
}

.recommend .advantages-block__extra-title {
	font-size: 28px;
	line-height: 32px;
	letter-spacing: -0.02em;
}

.recommend .advantages-block {
	gap: 8px;
}

@media(max-width: 1024px) {
	.recommend .advantages-block {
		width: calc(1/3*100% - (1 - 1/3)*30px);
	}

	.recommend .advantages-block__extra-title {
		font-size: 24px;
		line-height: 28px;
	}
	
	.recommend .advantages-block__description {
		font-size: 16px;
		line-height: 20px;
	}
}

@media(max-width: 767px) {
	.recommend .advantages-block {
		width: calc(1/2*100% - (1 - 1/2)*30px);
		min-height: 320px;
	}
	
	.recommend .advantages-block:last-child {
		width: 100%;
		min-height: 220px;
	}
}

@media(max-width: 767px) {
	.recommend .advantages-block {
		width: 100%;
		min-height: 340px;
	}
}
 
/* tariffs */

.tariffs .advantages-block {
	width: calc(1/3*100% - (1 - 1/3)*15px);
}

.tariffs .advantages-block {
	gap: 12px;
	min-height: 600px;
}

.tariffs .advantages-block__extra-title p {
	padding-bottom: 10px;
}

.tariffs .advantages-block__extra-title p:last-child {
	padding-bottom: 0;
}

@media(max-width: 1024px) {
	.tariffs .advantages-block {
		min-height: 500px;
	}
	
	.tariffs .advantages-block .number {
		font-size: 80px;
		line-height: 60px;
	}
	
	.tariffs .advantages-block ul li {
		font-size: 16px;
		line-height: 20px;
	}
}

@media(max-width: 767px) {
	.tariffs .advantages-block {
		width: 100%;
		min-height: 320px;
	}
	
	.tariffs .advantages-block ul {
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	.tariffs .advantages-block .number {
		font-size: 80px;
		line-height: 60px;
		margin-bottom: 16px;
	}
}

/* services */

.services__list {
	gap: 4px;
	display: flex;
	flex-direction: column;
	max-width: 1145px;
	margin: 0 auto;
}

.services__block {
	border-radius: var(--border-radius-m);
	background-color: var(--gray-silver);
	padding: 40px 30px;
	display: flex;
	gap: 15px;
}

.services__info {
	display: flex;
	flex-direction: column;
	max-width: 303px;
    width: 100%;
}

.services__info-title {
	font-size: 28px;
	line-height: 32px;
}

.services__info-number {
	font-weight: 100;
	font-size: 110px;
	line-height: 80px;
	color: var(--grey-dark);
	width: 100%;
    max-width: 71px;
}

.services__info-price {
	margin-top: auto;
	width: fit-content;
	padding: 12px 20px;
	color: var(--accent-red);
	border-radius: 16px;
	background-color: var(--color-white);
	font-size: 18px;
	line-height: 22px;
}

.services__description {
	font-size: 18px;
	line-height: 24px;
}

.services__description p {
	margin-bottom: 10px;
}

.services__description ul {
    margin-left: 10px;
}

.services__description ul li {
	position: relative;
	padding-left: 17px;
}

.services__description ul li:before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 6px;
	height: 6px;
	background-color: var(--color-black);
	content: '';
	border-radius: 50%;
}

.services-numbers .services__info {
	flex-direction: row;
	gap: 15px;
	max-width: 370px;
}

.services-numbers .services__block {
	justify-content: space-between;
}

.services-numbers .services__description {
	width: 100%;
    max-width: 651px;
}

@media(max-width: 1280px) {
	.services__list {
		max-width: 1015px;
	}
}

@media(max-width: 1024px) {
	.services__info-title {
		font-size: 24px;
		line-height: 28px;
	}
	
	.services__description {
		font-size: 16px;
		line-height: 20px;
	}
	
	.services__info-price {
		font-size: 16px;
		line-height: 20px;
	}
	
	.services__info {
		max-width: 288px;
	}
	
	.services__info-number {
		font-size: 80px;
		line-height: 60px;
		max-width: 58px;
	}
}

@media(max-width: 767px) {
	.services__block {
		flex-direction: column;
		padding: 20px;
	}
	
	.services__info {
		min-width: auto;
		width: 100%;
		gap: 12px;
	}
	
	.services-numbers .services__info {
		flex-direction: column;
		gap: 77px;
		max-width: 100%;
	}
	
	.services-numbers .services__list {
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	.services-numbers .services__block {
		width: calc(1/2*100% - (1 - 1/2)*15px);
	}
	
	.services .section__title.center {
		text-align: left;
	}
}

@media(max-width: 576px) {
	.services-numbers .services__block {
		width: 100%;
	}
}

/* cards */

.cards {
	
}

.cards a {
	color: var(--accent-red);
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-offset: 0%;
	text-decoration-thickness: 1px;
	text-decoration-skip-ink: auto;
	transition: 0.3s all;
}

.cards a:hover {
	text-decoration: none;
}

@media(max-width: 576px) {
	.cards .section__body .advantages-block {
		min-height: 360px;
	}
	
	.cards .section__body .advantages-block__title br {
		display: none;
	}
	
	.cards .section__body .advantages-block.bg-gradient-half:after {
		display: none;
	}
}

/* contacts */

.contacts .section__body {
	display: flex;
	gap: 15px;
}

.multicolor__block {
	background: var(--gray-silver);
	border-radius: var(--border-radius-m);
	padding: 20px 20px 40px 20px;
}

.contacts__form {
	width: 100%;
	max-width: 913px;
}

.contacts__info {
	width: 100%;
	max-width: 449px;
	padding: 20px;
	display: flex;
	gap: 20px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.contacts__list {
	display: flex;
	gap: 20px;
	flex-direction: column;
	margin-top: auto;
}

.contacts__block .contacts__block-title {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 4px;
}

.contacts__info .contacts__block .contacts__block-value {
	font-size: 28px;
	line-height: 32px;
}

.contacts__form .section__title {
	margin-bottom: 40px;
}

.contacts__form .section__extra {
    margin-bottom: 36px;
}

/* footer */

.footer {
	padding-bottom: 20px; 
}

.footer__body {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.footer__body>div {
	width: calc(1/2*100% - (1 - 1/2)*15px);
}

.footer__info {
	font-size: 18px;
	line-height: 24px;
	display: flex;
	gap: 30px;
	flex-direction: column;
	width: 100%;
	max-width: 343px;
}

.footer__info .footer__info-badge {
	display: flex;
	gap: 15px;
	align-items: flex-end;
	flex-wrap: wrap;
}

.footer__menu {
	display: flex;
	gap: 15px;
}

.footer__column {
	width: calc(1/2*100% - (1 - 1/2)*15px);
}

.footer__column ul:not(:last-child) {
	margin-bottom: 30px;
}

.footer__column ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer__column ul li {
	font-size: 18px;
	line-height: 24px;
}

.footer__menu-title {
	font-size: 18px;
	line-height: 24px;
	color: var(--accent-red);
	margin-bottom: 10px;
}

.footer__partners {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	align-items: flex-start;
}

@media(max-width: 576px) {
	.footer__body {
		flex-direction: column;
		gap: 50px;
	}
	
	.footer__body>div {
		width: 100%;
		flex-direction: column;
		max-width: 100%;
	}
	
	.footer__info {
		order: 2;
	}
	
	.footer__menu {
		order: 1;
		gap: 50px;
	}
	
	.footer__column {
		width: 100%;
	}
	
	.footer__column ul li {
		font-size: 16px;
		line-height: 20px;
	}
	
	.footer__partners  {
		max-width: 80%;
	}
}
	
/* form */

.fields {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
}

.fields .form-field:nth-child(odd) {
	width: 100%;
	max-width: calc(37% - 7.5px);
}

.fields .form-field:nth-child(even) {
	width: 100%;
	max-width: calc(63% - 7.5px);
}

.fields .form-field.full {
	max-width: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 15px;
}

.form-bottom {
	margin-top: 10px;
}

.form-field .error {
	color: var(--accent-red-dark);
}

.form-field .error .error-text {
	display: none;
}

.fields .form-field .btn {
	font-size: 28px;
	line-height: 32px;
}

.fields input[type="checkbox"] {
    display: none;
}

.fields input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
}

.fields input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: var(--color-white);
	border-radius: 7px;
}

.fields input[type="checkbox"]:checked + label:after, 
.fields input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.fields input[type="checkbox"]:checked + label:after {
	left: 4px;
    top: 5px;
    width: 13px;
    height: 8px;
    border-radius: 1px;
    border-left: 4px solid var(--accent-red);
    border-bottom: 4px solid var(--accent-red);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fields input:active,
.fields input:focus {
	outline: none;
}

/* team */

.team {
	padding-bottom: 15px;
}

.team .section__body {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.team__info .team__info-title {
	font-size: 28px;
	line-height: 32px;
	margin-bottom: 46px;
}

.team__info ul {
	display: flex;
	flex-direction: column;
	gap: 9px;
	font-size: 18px;
	line-height: 22px;
	margin-top: auto;
}

.team__info {
	max-width: 333px;
	width: 100%;
	padding-bottom: 20px;
	display: flex;
	gap: 15px;
	flex-direction: column;
}

.team__cards {
	max-width: calc(100% - 333px - 15px);
	width: 100%;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 20px;
}

.team__cards .swiper {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.team__cards .team__item {
	width: calc(1/4*100% - (1 - 1/4)*15px);
}

.team__cards .team__item img {
	border-radius: 12px;
	margin-bottom: 12px;
	display: block;
}

.team__cards .team__item-name {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 4px;
}

.team__cards .team__item-post {
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
}

.team+.contacts {
	padding-top: 0;
}

@media(max-width: 1024px) {
	.team__info {
		max-width: 294px;
	}

	.team__cards {
		max-width: calc(100% - 294px - 15px);
	}
	
	.team__info .team__info-title {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 46px;
	}
	
	.team__info ul {
		font-size: 16px;
		line-height: 20px;
	}
}

@media(max-width: 576px) {
	.team .section__body,
	.contacts .section__body {
		flex-direction: column;
	}
	
	.team .team__item {
		width: 200px;
	}
	
	.team__info,
	.team__cards,
	.contacts__form,
	.contacts__info	{
        max-width: 100%;
	}
	
	.team__cards .team__item-name,
	.team__cards .team__item-post {
		font-size: 16px;
		line-height: 20px;
	}
	
	.fields .form-field:nth-child(odd),
	.fields .form-field:nth-child(even) {
		width: 100%;
		max-width: 100%;
	}
	
	.fields .form-field.full {
		flex-direction: column;
		align-items: center;
	}
	
	.fields .form-field .btn {
		width: 100%;
	}
	
	.contacts__block .contacts__block-title {
		font-size: 16px;
		line-height: 20px;
	}
	
	.contacts__info .contacts__block .contacts__block-value {
		font-size: 24px;
		line-height: 28px;
	}
}

/* popup */

.popup {
	background: var(--color-white);
	border-radius: var(--border-radius-m);
	padding: 40px 60px;
	max-width: 1377px;
	width: 100%;
	z-index: 1003;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    max-height: 100%;
	transition: 0.3s all;
}

.popup__inner {
	padding-right: 86px;
}

.popup__review {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.popup__review .popup__review-img,
.popup__review .popup__review-img img {
	max-width: 450px;
}

.popup__review .popup__review-content {
	font-size: 18px;
	line-height: 22px;
}

.popup__review .popup__review-content p:not(:last-child) {
	margin-bottom: 40px;
}

.popup__review .popup__review-content .popup__review-company {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

.popup .close {
	width: 46px;
	height: 46px;
	background: var(--gray-silver);
	border-radius: 50%;
	position: absolute;
	top: 40px;
	right: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.popup.active {
    opacity: 1;
    visibility: visible;
}

@media(max-width: 1024px) {
	.popup__review .popup__review-img,
	.popup__review .popup__review-img img {
		max-width: 250px;
	}
}

@media(max-width: 767px) {
	.popup {
		padding: 15px 30px;
	}
	
	.popup .close {
		top: 20px;
		right: 20px;
	}
	
	.popup__review {
		flex-direction: column;
	}
	
	.popup__inner {
		padding-right: 45px;
	}
	
	.popup__review .popup__review-content {
		font-size: 16px;
		line-height: 20px;
	}
	
	.popup__review .popup__review-content p:not(:last-child) {
		margin-bottom: 20px;
	}
	
	.popup__review .popup__review-img,
	.popup__review .popup__review-img img {
		max-width: 100%;
	}
}

/* ------------------------------------------------------------------------------- Кейс См Клиника ------------------------------------------------------------------------------- */

.hero {
	
}

.hero .section__body {
	position: relative;
}

.hero__info {
    max-width: 50%;
}

.hero__title {
	text-align: left;
}

.hero__img {
	position: absolute;
	bottom: -10px;
    right: -50px;
}

.hero__logo {
    margin-bottom: 44px;
}

.hero__title {
	font-weight: 200;
	font-size: 44px;
	line-height: 60px;
	margin-bottom: 43px;
}

.hero__tags {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.hero__tags li {
	border-radius: 8px;
	border: 1px solid var(--color-black);
	font-size: 16px;
	text-align: center;
	padding: 7px 10px;
}

@media(max-width: 991px) {
	.hero__info {
		max-width: 100%;
		align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
	}
	
	.hero__img {
		position: relative;
		bottom: auto;
		right: auto;
		margin-top: 40px;
	}
}

@media(max-width: 767px) {
	.hero__logo {
		margin-bottom: 30px;
	}
	
	.hero__title {
		font-size: 30px;
		line-height: 38px;
		text-align: center;
	}
}

/* about-client */

.about-client {
	
}

.about-client__content {
	display: flex;
	gap: 78px;
	align-items: center;
}

.about-client__img img {
	max-width: none;
}

.about-client__text h3 {
	font-size: 28px;
    line-height: 34px;
	font-weight: 200;
	margin-bottom: 44px;
}

.about-client__text h3 strong {
	font-weight: 500;
}

.about-client__text p {
	font-size: 18px;
    line-height: 24px;
	margin-bottom: 10px;
}

.about-client__text p:last-child {
	margin-bottom: 0;
}

.content__badge {
	display: flex;
	gap: 15px;
	margin-top: 50px;
}

.content__badge-block {
	display: flex;
	gap: 20px;
	border-radius: 20px;
	align-items: center;
	padding: 12px 14px 8px;
}

.content__badge-block.bg-violet-simple {
	color: var(--color-white);
}

.content__badge-block .content__badge-left {
	font-size: 40px;
	letter-spacing: -3pt;
}

.content__badge-block .content__badge-right {
	font-size: 16px;
	line-height: 20px;
}

@media(max-width: 991px) {
	.about-client__content {
		gap: 18px;
		align-items: flex-start;
		flex-direction: column;
	}
	
	.about-client__img {
		width: 100%;
	}
	
	.about-client__img img {
		max-width: 295px;
		display: block;
		margin: 0 auto;
	}
}

@media(max-width: 767px) {
	.about-client__text h3 {
		font-size: 20px;
		line-height: 25px;
	}
	
	.about-client__text p {
		font-size: 16px;
		line-height: 22px;
	}
	
	.about-client__img img {
		max-width: 195px;
	}
	
	.content__badge-block .content__badge-left {
		font-size: 28px;
	}
	
	.content__badge-block .content__badge-right {
		font-size: 14px;
		line-height: 18px;
	}
	
	.content__badge {
		flex-direction: column;
	}
	
	.content__badge .content__badge-block {
		width: 100%;
	}
}

/* tasks */


.tasks__content {
	display: flex;
	gap: 78px;
	align-items: center;
}

.tasks__img img {
	max-width: none;
}

.tasks__text {
	font-size: 18px;
    line-height: 24px;
}

.tasks__text p {
	margin-bottom: 28px;
}

.tasks__text p:last-child {
	margin-bottom: 0;
}

.tasks__text ul {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-top: 10px;
	margin-bottom: 38px;
}

.tasks__text ul li {
	position: relative;
	padding-left: 50px;
}

.tasks__text ul li:before {
	content: url('data:image/svg+xml,<svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M25.0034 19.6072C24.8274 19.9758 24.7008 20.381 24.4637 20.705C24.0682 21.2453 23.4857 21.4917 22.8151 21.5161C22.7418 21.5186 22.669 21.5192 22.5957 21.5192C15.8707 21.5192 9.14509 21.5174 2.4201 21.5216C1.42315 21.5222 0.673141 21.1225 0.232428 20.2172C-0.0780877 19.5797 -0.0750315 18.9165 0.255045 18.2881C0.538054 17.7484 0.867519 17.2331 1.1817 16.7105C4.2887 11.5436 7.39875 6.37848 10.5045 1.21156C10.9685 0.439552 11.6256 -0.00605045 12.5357 6.20739e-05C13.3114 0.00556334 13.9446 0.339918 14.3634 0.994569C14.933 1.88516 15.4667 2.79899 16.0119 3.70547C18.8524 8.42495 21.6941 13.1432 24.526 17.8676C24.7229 18.1964 24.8457 18.5699 25.0028 18.9232V19.6078L25.0034 19.6072ZM12.5088 19.8951C15.8511 19.8951 19.1935 19.8951 22.5364 19.8945C22.6495 19.8945 22.7662 19.8957 22.8756 19.8725C23.2693 19.7906 23.4728 19.3994 23.3182 19.0271C23.2779 18.9299 23.2192 18.8407 23.1648 18.7502C21.3616 15.752 19.5572 12.7544 17.7534 9.75687C16.2136 7.19817 14.6769 4.63824 13.1305 2.08382C13.0339 1.92428 12.8908 1.76352 12.7301 1.67978C12.4183 1.5178 12.1274 1.67428 11.8829 2.08076C8.53507 7.64316 5.18724 13.2062 1.84002 18.7698C1.78562 18.8602 1.72816 18.9513 1.69026 19.0491C1.55396 19.403 1.74894 19.779 2.11814 19.8658C2.23489 19.8933 2.35959 19.8939 2.48122 19.8939C5.82355 19.8951 9.16588 19.8951 12.5088 19.8951Z" fill="%23743FDD"/><path d="M13.4887 10.6823C13.4563 11.6915 13.4233 12.7006 13.3921 13.7098C13.3805 14.0894 13.2711 14.2434 12.9135 14.3871C12.6268 14.5026 12.3395 14.4867 12.0559 14.3901C11.782 14.2966 11.6384 14.0986 11.6286 13.8027C11.5608 11.7929 11.4899 9.78312 11.4232 7.77272C11.4055 7.23543 11.5926 6.9408 12.0345 6.78065C12.5406 6.59728 13.1714 6.71403 13.4135 7.09056C13.5314 7.27455 13.5901 7.53066 13.5883 7.75316C13.581 8.72994 13.5418 9.70611 13.5143 10.6829H13.4899L13.4887 10.6823Z" fill="%23743FDD"/><path d="M11.3774 16.6658C11.3829 16.0191 11.9104 15.5002 12.5455 15.5155C13.1659 15.5307 13.6843 16.0686 13.6775 16.6891C13.6702 17.3064 13.1286 17.8474 12.5223 17.8431C11.886 17.8388 11.3719 17.3107 11.3774 16.6652V16.6658Z" fill="%23743FDD"/></svg>');
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.tasks__text a {
	text-decoration: underline;
}

.tasks__text a:hover {
	text-decoration: none;
}

@media(max-width: 991px) {
	.tasks__content {
		flex-direction: column;
	}
}
@media(max-width: 767px) {
	
	.tasks__text {
		font-size: 16px;
		line-height: 22px;
	}
	
	.tasks__img {
		display: none;
	}
}

/* comment */

.comment .comment__content {
	display: flex;
	gap: 35px;
	align-items: center;
    justify-content: space-between;
}

.comment .comment__content .comments__text {
	position: relative;
	padding: 33px 40px;
	font-size: 18px;
	line-height: 24px;
	font-style: italic;
}

.comment .comment__content .comments__text p:not(:last-child) {
	margin-bottom: 10px;
}

.comment .comment__content .comments__text:before {
	content: url('../images/quote.svg');
	position: absolute;
	top: 0;
	left: 0;
}

.comment .comment__content .comments__text:after {
	content: url('../images/quote.svg');
	position: absolute;
	bottom: 0;
	right: 0;
}

.comment .comment__content .comments__img img {
	max-width: none;
}

@media(max-width: 767px) {
	.comment .comment__content {
		flex-direction: column;
	}
	
	.comment .comment__content .comments__text {
		order: 2;
	}
}

/* done */

.done {
	
}

.done__lock {
	position: relative;
	padding-left: 97px;
	margin-top: 53px;
	margin-bottom: 54px;
}

.done__lock:before {
	position: absolute;
	left: 0;
	top: 0;
	content: url('data:image/svg+xml,<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="30" cy="30" r="30" fill="%23743FDD"/><path d="M20.467 45.6511C20.14 45.5347 19.789 45.4603 19.4892 45.2935C18.5172 44.7526 18.0118 43.8979 18.0093 42.7913C17.9986 37.8677 17.9953 32.9441 18.0093 28.0206C18.0143 26.4011 19.2373 25.2111 20.8584 25.1806C21.1359 25.1756 21.4134 25.1806 21.7272 25.1806C21.7338 25.055 21.7445 24.946 21.7445 24.837C21.747 23.9617 21.7321 23.0855 21.7528 22.2101C21.8626 17.4665 25.7828 13.8057 30.5272 14.008C34.5159 14.1781 37.953 17.3295 38.3865 21.2876C38.5112 22.4289 38.4501 23.5909 38.4741 24.7429C38.4766 24.8742 38.4741 25.0063 38.4741 25.1781C38.7507 25.1781 38.9943 25.1773 39.2371 25.1781C41.0201 25.1872 42.2134 26.3846 42.2151 28.1742C42.2175 32.9945 42.2167 37.8157 42.2151 42.636C42.2151 44.2067 41.3686 45.2597 39.835 45.6082C39.8061 45.6148 39.7805 45.6354 39.7533 45.6494H20.467V45.6511ZM30.111 43.7963C33.1393 43.7963 36.1675 43.7963 39.1958 43.7963C39.9911 43.7963 40.3619 43.423 40.3619 42.6195C40.3619 37.8091 40.3619 32.9995 40.3619 28.189C40.3619 27.4045 39.9928 27.0337 39.2107 27.0329C33.1442 27.0329 27.0769 27.0329 21.0104 27.0329C20.2283 27.0329 19.8608 27.4045 19.8608 28.1899C19.8608 33.0003 19.8608 37.8099 19.8608 42.6203C19.8608 43.4238 20.2308 43.7955 21.0277 43.7955C24.056 43.7955 27.0843 43.7955 30.1126 43.7955L30.111 43.7963ZM36.6201 25.1657C36.6201 25.0129 36.6226 24.8907 36.6201 24.7685C36.5978 23.6569 36.6721 22.5338 36.5342 21.4371C36.1139 18.1016 33.1244 15.6869 29.7385 15.8628C26.4055 16.0354 23.7026 18.7994 23.6117 22.1465C23.5861 23.083 23.6035 24.0211 23.6035 24.9592C23.6035 25.0261 23.6249 25.0939 23.6348 25.1541H25.4558C25.4558 25.0179 25.4558 24.9056 25.4558 24.7941C25.4574 23.7948 25.4393 22.7948 25.464 21.7963C25.5062 20.0753 26.6053 18.5674 28.2124 17.9687C28.9251 17.7027 29.6634 17.7069 30.4066 17.7093C32.9287 17.7168 34.7537 19.5286 34.7653 22.0482C34.7694 22.9756 34.7653 23.903 34.767 24.8296C34.767 24.9386 34.7769 25.0484 34.7826 25.1674H36.6201V25.1657ZM32.9055 25.1591C32.9055 24.0343 32.9254 22.9335 32.8998 21.8343C32.8742 20.7186 32.0814 19.8069 30.9814 19.6186C30.5998 19.5534 30.2026 19.5674 29.8128 19.5666C28.314 19.5641 27.3197 20.5767 27.3114 22.0598C27.3073 22.8939 27.3106 23.7279 27.3106 24.562C27.3106 24.7553 27.3106 24.9485 27.3106 25.1599H32.9055V25.1591Z" fill="white"/><path d="M29.1827 37.9322C29.1827 37.4994 29.1695 37.0667 29.1885 36.6348C29.1976 36.4176 29.1191 36.3218 28.9267 36.226C27.9324 35.7305 27.3692 34.9221 27.3337 33.8055C27.2974 32.6626 27.8143 31.7955 28.8136 31.2521C30.1803 30.5088 31.8889 31.0622 32.5917 32.4471C33.297 33.8361 32.742 35.5299 31.3381 36.2021C31.092 36.3202 31.0251 36.4507 31.0309 36.7091C31.0491 37.5325 31.0392 38.3575 31.0367 39.1817C31.035 39.8118 30.6643 40.2222 30.1043 40.2197C29.5477 40.2172 29.1852 39.8043 29.1835 39.1701C29.1827 38.758 29.1835 38.3459 29.1835 37.9338L29.1827 37.9322ZM31.04 33.7205C31.0441 33.2085 30.6436 32.7939 30.1341 32.7832C29.6088 32.7724 29.1835 33.1812 29.1794 33.7023C29.1753 34.2201 29.6014 34.6495 30.1159 34.6454C30.6188 34.6413 31.0359 34.2242 31.04 33.7205Z" fill="white"/></svg>');
}

.done__lock p {
	margin-bottom: 10px;
}

.done .advantages-block {
	width: calc(1/2*100% - (1 - 1/2)*10px);
	justify-content: center;
	 min-height: 297px;
}

.done .advantages {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 53px;
}

.done .advantages-block>div:last-child {
    margin-top: 0;
}

@media(max-width: 991px) {
	.done .advantages-block__title.big {
		font-size: 90px;
	}
}

@media(max-width: 767px) {
	.done .section__extra-title {
		font-size: 20px;
		line-height: 25px;
	}

	.done .advantages-block__title.big {
		font-size: 50px;
		line-height: 62px;
	}
	
	.done .advantages-block__description {
        font-size: 16px;
        line-height: 20px;
    }
	
	.done .advantages-block {
		min-height: 134px;
	}
}

/* result */

.results {
	
}

.results__wrapper {
	max-width: 964px;
	margin: 83px auto 0;
}

.results .section__extra-title {
	line-height: 35px;
}

.results .results__list {
	display: flex;
	gap: 15px;
	justify-content: space-between;
}

.results .results__item {
	font-weight: 200;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	gap: 18px;
	align-items: center;
	width: calc(1/3*100% - (1 - 1/3)*15px);
	position: relative;
}

.results .results__item .number {
	color: var(--second-violet);
	font-size: 60px;
	line-height: 80px;
}

.results .results__item .icon-service {
	position: absolute;
	top: -40px;
    left: 100px;
}

.results .results__diagram {
    margin-top: 92px;
	margin-bottom: 80px;
}

.results .results__diagram img {
    margin-top: -355px;
}

.results .results__diagram .results__list {
	flex-direction: column;
	gap: 85px;
}

.results .results__diagram .results__item {
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	gap: 0;
}

.results .results__diagram .extra {
	font-size: 14px;
	line-height: 24px;
}

.results .results__content p:not(:last-child) {
	margin-bottom: 50px;
}

.results .results__content img {
	margin: 0 auto;
}

@media(max-width: 991px) {
	.results__wrapper {
		margin: 30px auto 0;
	}
	
	.results .results__list {
		flex-direction: column;
		gap: 25px;
	}
	
	.results .results__diagram .results__item {
		flex-direction: row;
		align-items: center;
		gap: 18px;
		justify-content: flex-start;
	}
	
	.results .results__item {
		width: 100%;
	}
	
	.results .results__item .icon-service {
		position: relative;
		left: auto;
		top: auto;
	}
	
	.results .results__diagram .results__list {
		gap: 25px;
	}
	
	.results .results__diagram {
		margin-top: 25px;
		margin-bottom: 30px;
	}
	
	.results .results__diagram img {
		margin-top: -195px;
	}
}

@media(max-width: 767px) {
	.results .results__diagram img {
		margin-top: 0;
	}
	
	.results .results__item .number {
		font-size: 40px;
		line-height: 50px;
	}
	
	.results .section__extra-title {
		font-size: 20px;
		line-height: 28px;
	}
}

/* end */

.end .end__content {
	display: flex;
	gap: 30px;
	align-items: flex-end;
}

.end .content__badge {
	justify-content: center;
	margin-bottom: 50px;
}

.end .end__list {
	display: flex;
	gap: 12px;
	flex-direction: column;
	padding-bottom: 25px;
}

.end .end__list .end__list-item {
	display: flex;
	gap: 25px;
	align-items: center;
}

.end .end__img img {
	max-width: none;
}

.end__text p:not(:last-child) {
    margin-bottom: 35px;
}

@media(max-width: 991px) {
	.end .end__content {
		flex-direction: column;
		align-items: center;
	}
	
	.end .end__img img {
		max-width: 100%;
	}
}

@media(max-width: 767px) {
	.end .content__badge {
		flex-direction: column;
	}
}